
body {
  background-color: #d5d2d2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div{
  width: 30vw;
  height: 50vh;
  background-color: #1C1C1C;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fff;
}

input {
  font-size: 15px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  width: 90%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  outline: none;
  margin: 15px;
}

input:hover{
  border-bottom: 1px solid #6a7dfe;
}

button {
  margin: 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  background: #6a7dfe;
  
}

button:hover {
  cursor: pointer;
}

p {
  color: #fff;
  margin: 10px;
}